* {
    margin : 0;
    padding : 0;
    font-family : "Lucida Console", "Monaco", "monospace";
}
a {
    cursor : pointer;
}
.hidden {
    display : none;
}
a.button {
    padding : 3px 5px;
    background-color : #474747;
    border : 1px solid #f1f1f1;
    color : #f1f1f1;
    border-radius : 4px;
}
a.button:hover {
    background-color : #f1f1f1;
    border : 1px solid #474747;
    color : #474747;
}
.status {
    font-size : 16px;
    text-align : center;
    margin : 10px 0 0;
}
.map, .arena {
    background-image : url(/images/environment/grass-bg.jpg);
    border : 1px solid #000;
    margin : 10px auto 0;
    position : relative;
}
.arena {
    background-image : url(/images/arena-background.jpg);
}
.arena .abilityDescription {
    background-color : #474747;
    border : 1px solid #f1f1f1;
    border-radius : 4px;
    width : 300px;
    padding : 10px;
    color : #f1f1f1;
    position : absolute;
    top : 265px;
    left : 240px;
}
.arena .abilityDescription.enemyAbilityDescription {
    top : 165px;
    left : 40px;
}
.arena .keyboardKey {
    color : #474747;
}
.tree, .rock, .water, .path, .exit, .item, .weapon, .armor, .potion {
    position : absolute;
}
.tree img {
    width : auto;
    height : 120%;
    vertical-align : top;
    margin : -12px auto 0;
}
.water img {
    width : 100%;
    height : 100%;
}
.enemy {
    position : absolute;
    top : 60px;
    left : 60px;
}
.enemy img {
    width : 100%;
    height : 100%;
}
.warrior, .mage, .rogue {
    position : absolute;
    top : 0;
    left : 0;
    background-size : auto 100%;
    background-position : center;
    background-repeat : no-repeat;
}
.warrior img, .mage img, .rogue img {
    width : auto;
    height : 120%;
    margin : 0 auto;
    display : block;
    position : relative;
    bottom : 20%;
}
.level {
    background-color : #474747;
    color : #f1f1f1;
    border : 1px solid #f1f1f1;
    border-radius : 15px;
    font-size : 10px;
    width : 15px;
    height : 12px;
    position : absolute;
    top : 5px;
    left : 5px;
    text-align : center;
    padding : 3px 0 0;
    z-index : inherit;
}
.warrior .level, .mage .level, .rogue .level, .enemy .level {
    top : 0;
    left : 0;
}
.inventory {
    margin : 0 auto;
    border : 1px solid #000;
    z-index : 100 !important;
    background-color : #474747;
    border : 1px solid #f1f1f1;
    border-radius : 4px;
    position : absolute;
    opacity : 0.95;
}
.inventory .noItems {
    text-align : center;
    padding : 170px 0 0;
    color : #f1f1f1;
}
.inventory .header {
    font-size : 30px;
    text-align : center;
    margin : 20px 0;
    color : #f1f1f1;
}
.inventory .items, .inventory .selectedItem, .inventory .equippedItem {
    float : left;
    padding : 10px;
    width : 180px;
    height : 180px;
    border : 1px solid #f1f1f1;
    border-radius : 4px;
    margin : 0 0 0 33px;
}
.inventory .object {
    position : relative;
    float : left;
    z-index : 101;
    border-radius : 4px;
    cursor : pointer;
    top : 0 !important;
    left : 0 !important;
}
.inventory .items .object:hover, .inventory .object.selected {
    background-color : #f1f1f1;
}
.inventory .selectedItem {
    position : relative;
}
.inventory .selectedItem p {
    color : #f1f1f1;
    font-size : 12px;
}
.inventory .selectedItem p span {
    display : block;
}
.inventory .selectedItem p .name {
    font-size : 16px;
}
.inventory .selectedItem p .description {
    font-style : italic;
}
.inventory .selectedItem .button {
    position : absolute;
    bottom : 10px;
}
.inventory .selectedItem .button.equip {
    left : 70px;
}
.inventory.equippedItem {
    position : relative;
}
.inventory .equippedItem p {
    font-size : 20px;
    color : #f1f1f1;
    text-align : center;
}
.inventory .equippedItem .object {
    width : 100px !important;
    height : 100px !important;
    margin : 20px auto 0;
    float : none;
}
.inventory .equippedItem .object img {
    width : 100%;
    height : 100%;
}
.arena {
    border : 1px solid blue;
}
.container {
    width: 600px;
    height: 600px;
    margin: 10px auto;
    position: relative;
    padding: 40px 0px 32px 0px;
    background-image: url(/images/back.jpg);
    background-position: 0px -83px;
}
.characterNameContainer {
    background-color : #4c4c4d;
    height : 35px;
    margin : 10px;
    border-radius : 4px;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #f1f1f1;
    padding : 20px 40px;
}
.characterNameContainer p {
    font-size : 38px;
    text-align : center;
    color : #f1f1f1;
}
.characterNameFieldLabel {
    color : #9c9c9c;
    margin : auto;
    font-size : 22px;
}
#characterNameField {
    background-color : #434343;
    margin : 0 0 0 15px;
    width : 280px;
    height : 27px;
    padding : 5px;
    color : #9c9c9c;
    border-radius : 4px;
    font-size : 16px;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #f1f1f1;
}
#characterNameField.error {
    color : #ff0000;
}
.characterSelectList {
    width : 270px;
    margin : 0 auto;
}
.characterSelectList li {
    list-style-type : none;
    float : left;
    margin : 0 0 0 10px;
}
.characterSelectList li:first-child {
    margin : 0;
}
.selectClass {
    width : 80px;
    height : 80px;
    display : block;
    background-size : auto 100%;
    background-position : center;
    background-repeat : no-repeat;
    border-radius : 4px;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #9c9c9c;
    background-color : #434343;
}
.character {
    background-image: url(/images/char1.png);
    height: 390px;
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin : 0 10px 10px;
    background-color : transparent;
    border : none;
    box-shadow : none;
    position : relative;
}
.character.selected {
    background-color : #4c4c4d;
    border-radius : 4px;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #f1f1f1;
    background-position : 90%;
}
.character p {
    font-size : 48px;
    color : #f1f1f1;
    margin : 200px 10px 10px;
    padding : 10px;
    text-shadow : 0px 0px 4px #F1F1F1;
    background-color : #4c4c4d;
    border-radius : 4px;
    box-shadow : 0px 0px 10px #f1f1f1;
    float : left;
}
.character.selected p {
    font-size : 14px;
    margin : 55px 0 0;
    padding : 0;
    text-shadow : none;
    background-color : transparent;
    border-radius : 4px;
    box-shadow : none;
    width : 245px;
}
.character.selected .lore {
    text-align : justify;
    display : none;
}
.character.selected .abilityList {
    margin : 0;
    left : 90px;
    border : none;
}
.character.selected p.lore span {
    display : block;
    font-size : 48px;
    margin : 0 0 50px;
    text-align : center;
}
.character.selected p.abilities span {
    color : khaki;
    font-size : 12px;
}
.character.selected ul {
    position : absolute;
    bottom : 10px;
    left : 140px;
}
.character.selected ul li {
    list-style-type : none;
    float : left;
    margin : 20px 0 0 20px;
}
.next {
    background-image : url(/images/next-arrow.png);
    width : 100px;
    height : 100px;
    background-size : auto 100%;
    background-repeat : no-repeat;
    display : block;
    float : right;
    margin : 190px 0 0;
}
.prev {
    background-image : url(/images/prev-arrow.png);
    width : 100px;
    height : 100px;
    background-size : auto 100%;
    background-repeat : no-repeat;
    display : block;
    float : left;
    margin : 190px 0 0;
}
.statistics {
    height : 90px;
    background-color : #4c4c4d;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #f1f1f1;
    border-radius : 4px;
    margin : 10px;
}
.bars {
    margin : 10px 10px 10px 20px;
    float : left;
}
.bar {
    height : 18px;
    border-radius : 4px;
    text-align : center;
    color : #f1f1f1;
    margin : 5px 0 0;
    border : 1px solid #f1f1f1;
    position : relative;
    width : 300px;
}
.bar div {
    position : absolute;
    height : 100%;
}
.bar p {
    font-size : 12px;
    padding : 5px 0 0;
    position : relative;
    z-index : 2;
}
.health div {
    margin : 0;
    background-color : #990000;
}
.mana div {
    background-color : #699EDB;
}
.stamina div {
    background-color: #4AC615;
}
.playButton {
    background : #4c4c4d;
    width : 203px;
    height : 60px;
    border-radius : 4px;
    border : 1px solid #f1f1f1;
    text-align : center;
    font-size : 50px;
    color : #f1f1f1;
    cursor : pointer;
    display : block;
    float : right;
    margin : 10px 20px 10px 10px;
    padding : 10px 0 0;
}
.preloader {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background-color : #474747;
    text-align : center;
    background-image : url(/images/preloader.gif);
    background-repeat : no-repeat;
    background-position : center center;
}
.preloader p {
    padding : 350px 0 0;
    color : #f1f1f1;
    font-size : 24px;
}
.abilityList {
    width : 280px;
    border : 1px solid #000;
    margin : 0 0 0 -610px;
    position : absolute;
    left : 50%;
    padding : 10px;
}
.abilityList.enemyAbilityList {
    margin : 0 0 0 310px;
}
.abilityList p {
    font-weight : bold;
    margin : 10px 0 5px;
}
.abilityList p.classTypeName span {
    display : block;
    font-size : 12px;
}
.abilityList p:first-child {
    margin-top : 0;
}
.abilityList ul {
    margin : 0 0 0 10px;
}
.abilityList ul li {
    list-style-type : none;
    font-size : 14px;
}
.abilityList ul li span {
    font-size : 12px;
}
ul.basicAttacks {
    color : #990000;
}
ul.magicAbilities {
    color : #699EDB;
}
ul.staminaAbilities {
    color : #4AC615;
}
.abilityCast {
    background-color : #f1f1f1;
    border-radius : 4px;
    border : 1px solid #474747;
    position : absolute;
    width : 300px;
    padding : 10px;
}
.abilityCast ul li {
    list-style-type : none;
}
.abilityCast.abilityCastClassType {
    bottom : 250px;
    left : 240px;
}
.arena .warrior, .arena .mage, .arena .rogue {
    width : 150px !important;
    height : 300px !important;
    background-size : 150px auto;
    top : 280px !important;
    left : 55px !important;
}
.arena .enemy {
    width : 100px !important;
    height : 100px !important;
    top : 60px !important;
    left : 390px !important;
    background-size : auto 100%;
}
.arena .bars {
    background-color: #4c4c4d;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    top : 350px;
    left : 220px;
    position : absolute;
    padding : 10px;
}
.arena .bars.active {
    box-shadow : 0px 0px 15px 4px #f1f1f1;
}
.arena .bars.classTypeBars {
    background-color : #474c47;
}
.arena .bars.enemyBars {
    top : 20px;
    left : 20px;
    background-color : #4c4747;
}
.arena .bars p {
    color : #f1f1f1;
    margin : 0 0 10px 0;
}
.arena .roundIndicator {
    background-color: #4c4c4d;
    border-radius: 4px;
    border: 1px solid #f1f1f1;
    bottom : 10px;
    right : 10px;
    position : absolute;
    padding : 10px;
    color : #f1f1f1;
}
.keyboardKey {
    box-shadow: inset 6px 4px 20px 10px #e1e1e1;
    width: 27px;
    height: 27px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 0 0 5px;
    float: left;
    margin: 10px 10px 10px 0;
    background-color: #fff;
}



.abilityDescription {
    padding : 10px 0 0 0;
    position : relative;
}
.abilityDescription .health {
    margin : 0;
    color : #990000;
    background-color : transparent;
}
.abilityDescription .mana {
    color : #699EDB;
    background-color : transparent;
}
.abilityDescription .stamina {
    color: #4AC615;
    background-color : transparent;
}
.abilityDescription p span {
    font-weight : normal;
}
.abilityDescription p span.description {
    font-size : 12px;
}
.abilityDescription p {
    text-decoration : none;
    font-weight : bold;
    font-size : 14px;
}
.abilityDescription .costIndicator {
    position : absolute;
    top : 0px;
    right : 0px;
    color : #f1f1f1;
    width : 25px;
    height : 25px;
    font-size : 12px;
    padding : 5px 0 0 5px;
    border : 1px solid #474747;
}



.character.selected .abilityList p {
    margin : 10px 0 0;
    width : 230px;
}
.character.selected .abilityList .abilityDescription {
    clear : both;
}

.store {
    width: 400px;
    height: 580px;
    background-color : #f1f1f1;
    border : 1px solid #000;
    margin : 10px auto 0;
    position : absolute;
    left : 50%;
    margin : 0px 0px 0px -680px;
}