* {
    margin : 0;
    padding : 0;
    font-family : "Lucida Console", "Monaco", "monospace";
}
a {
    cursor : pointer;
}
.status {
    font-size : 16px;
    text-align : center;
    margin : 10px 0 0;
}
.map, .arena {
    border : 1px solid #000;
    margin : 10px auto 0;
    position : relative;
}
.tree {
    background-color : green;
    position : absolute;
    top : 60px;
    left : 60px;
}
.enemy {
    background-color : red;
    position : absolute;
    top : 60px;
    left : 60px;
}
.player {
    background-color : #eee;
    position : absolute;
    top : 0;
    left : 0;
    background-image : url(/images/player.png);
    background-size : 100% 100%;
}
.inventory {
    margin : 0 auto;
    border : 1px solid #000;
}
.item {
    background-color : black;
    position : absolute;
}
.inventory .item {
    position : static;
}
.rock {
    background-color : gray;
    position : absolute;
}
.water {
    background-color : blue;
    position : absolute;
}
.arena {
    border : 1px solid blue;
}
.container {
    width : 600px;
    height : 600px;
    border : 1px solid #000;
    margin : 10px auto;
    position : relative;
    background-image: url(/images/back.jpg);
}
.characterNameContainer {
    background-color : #4c4c4d;
    height : 35px;
    margin : 10px;
    border-radius : 4px;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #f1f1f1;
    padding : 20px 40px;
}
.characterNameFieldLabel {
    color : #9c9c9c;
    margin : auto;
    font-size : 22px;
}
#characterNameField {
    background-color : #434343;
    margin : 0 0 0 15px;
    width : 280px;
    height : 27px;
    padding : 5px;
    color : #9c9c9c;
    border-radius : 4px;
    font-size : 16px;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #f1f1f1;
}
.characterSelectList {
    width : 270px;
    margin : 0 auto;
}
.characterSelectList li {
    list-style-type : none;
    float : left;
    margin : 0 0 0 10px;
}
.characterSelectList li:first-child {
    margin : 0;
}
.selectClass {
    width : 80px;
    height : 80px;
    display : block;
    background-size : auto 100%;
    background-position : center;
    background-repeat : no-repeat;
    border-radius : 4px;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #9c9c9c;
    background-color : #434343;
}
.character {
    background-image: url(/images/char1.png);
    height: 390px;
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin : 0 10px 10px;
    background-color : transparent;
    border : none;
    box-shadow : none;
    position : relative;
}
.character.selected {
    background-color : #4c4c4d;
    border-radius : 4px;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #f1f1f1;
    background-position : 90%;
}
.character p {
    font-size : 48px;
    color : #f1f1f1;
    margin : 200px 10px 10px;
    padding : 10px;
    text-shadow : 0px 0px 4px #F1F1F1;
    background-color : #4c4c4d;
    border-radius : 4px;
    box-shadow : 0px 0px 10px #f1f1f1;
    float : left;
}
.character.selected p {
    font-size : 14px;
    margin : 55px 0 0;
    padding : 0;
    text-shadow : none;
    background-color : transparent;
    border-radius : 4px;
    box-shadow : none;
    width : 245px;
}
.character.selected p.lore {
    text-align : justify;
}
.character.selected p.abilities {
    display : none;
}
.character.selected p.lore span {
    display : block;
    font-size : 48px;
    margin : 0 0 50px;
    text-align : center;
}
.character.selected p.abilities span {
    color : khaki;
    font-size : 12px;
}
.character.selected ul {
    position : absolute;
    bottom : 10px;
    left : 140px;
}
.character.selected ul li {
    list-style-type : none;
    float : left;
    margin : 20px 0 0 20px;
}
.next {
    background-image : url(/images/next-arrow.png);
    width : 100px;
    height : 100px;
    background-size : auto 100%;
    background-repeat : no-repeat;
    display : block;
    float : right;
    margin : 190px 0 0;
}
.prev {
    background-image : url(/images/prev-arrow.png);
    width : 100px;
    height : 100px;
    background-size : auto 100%;
    background-repeat : no-repeat;
    display : block;
    float : left;
    margin : 190px 0 0;
}
.statistics {
    height : 90px;
    background-color : #4c4c4d;
    border : 1px solid #f1f1f1;
    box-shadow : 0px 0px 5px #f1f1f1;
    border-radius : 4px;
    margin : 10px;
}
.bars {
    margin : 10px 10px 10px 20px;
    float : left;
}
.bar {
    height : 18px;
    border-radius : 4px;
    text-align : center;
    color : #f1f1f1;
    margin : 5px 0 0;
    border : 1px solid #f1f1f1;
}
.bar p {
    font-size : 12px;
    padding : 5px 0 0;
}
.bar.health {
    margin : 0;
    background-color : #990000;
}
.bar.mana {
    background-color : #699EDB;
}
.bar.stamina {
    background-color: #4AC615;
}
.playButton {
    background : #4c4c4d;
    width : 203px;
    height : 60px;
    border-radius : 4px;
    border : 1px solid #f1f1f1;
    text-align : center;
    font-size : 50px;
    color : #f1f1f1;
    cursor : pointer;
    display : block;
    float : right;
    margin : 10px 20px 10px 10px;
    padding : 10px 0 0;
}